@charset "utf-8";
/* CSS Document */

.normal-wrapper{
	min-height: 8rem;
    padding-bottom: 6.875rem;
    padding-top: 0rem;
}
.row.background-contact{ 
	height: 13.375rem;
	padding: 1rem 0rem;
}
.row.color{
	background: linear-gradient(0deg, rgba(253, 182, 52, 0.05), rgba(253, 182, 52, 0.05)), linear-gradient(0deg, rgba(253, 171, 137, 0.05), rgba(253, 171, 137, 0.05)), #FFFFFF;
}
.feature-title{	
	font-family: 'Verlag';
	font-style: normal;
	font-weight: 450;
	font-size: 3.25rem;
	line-height: 3.25rem;
	text-align:left;
	color: var(--color-primary);
}
.contact-img-phone{
	position:relative;
	display: inline-block;
	background:  var(--color-primary);
	border-radius: 2rem;
	width: 3.25rem;
	height: 3.25rem;
}
.contact-img-phone img{
	position:absolute;
	left: 12.5%;
	right: 12.5%;
	top: 16.67%;
	bottom: 16.55%;
}
.contact-content{ 
	color:var(--color-primary);
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 350;
	font-size: 1rem;
	line-height: 1.5rem; 
	letter-spacing: 0.01em;
	padding-top:1.25rem;  
}
.contact-row-height-content{
	min-height:1.875rem;	
	display: inherit;
}
.contact-border-left-organge{
 	background: #DA372B;
	border: 0.25rem solid #DA372B; 
}
.contact-content p{
	 text-align: left;
	 padding: 0.625rem 0 0.625rem 0.625rem;
	 margin-bottom: 0;
}
.contact-img-content{
	width: 1.5rem;
	height: 1.5rem;
	padding: 0.625rem 0.75rem 0.625rem 0.625rem;
}
.link{
	text-decoration-line: underline;
	color: var(--color-primary);
}
a:hover{
	color:var(--color-primary);
}