@charset "utf-8";
/* CSS Document */

.normal-wrapper{
	background:url(../images/error/bg-error.svg) center no-repeat;
	background-size:cover;
	height:41.375rem;
}
.row.bg-content-text{
	padding-top:1.3125rem;
}
.img-oobs{
	/*width:42.8125rem;
	height:14.3125rem;*/
    margin-left: auto;
    margin-right: auto;
}
.img-oobs img{
		width:100%;
		height:auto;
	}
.text-1{
	font-family: 'Verlag';
	font-size: 2.5625rem;
	padding-top:1.25rem;
	text-align: center;
	color: var(--color-primary);
}
.text-2{
    padding: 0.6875rem;
    font-family: 'Gotham';
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.add-to-cart {
    border-radius: 2.25rem;
    padding: 1.375rem;
    text-align: center;
}
.btn-back-home{
	width: 14.125rem;
	height: 3.75rem;
	padding: 0rem 1rem;
	border-radius: 2rem;
}

@media screen and (max-width:768px){
	
	.text-1{
		font-size: 1.5rem;
	}
}