

.bg-pur {
    background: #707BD8;
    padding: 1rem 1.25rem;
    color: #fff;
}

.mb-bt {
    margin-bottom: unset;
}

.content-color {
    color: #053385;
}

@media screen and (max-width: 991px) {
    .content-right {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    .content-left {
        width: 100%;
    }
}

.post-card-item {
    background: #FFFFFF;
    border-radius: 1.5rem 0px;
}

.post-card-item-img {
    width: 100%;
}

.card-readmore {
    text-align: right;
}

.card-readmore a {
    color: #9CA2FC;
    position: relative;
    padding-right: 15px;
}

.card-readmore a::after {
    position: absolute;
    content: url(../images/icon/pharmaton-arrow-right.svg);
    color: #9CA2FC;
    right: 0;
    top: 0.125rem;
    bottom: 0;
    margin: auto;
}

.me-section {
    padding: 46px 0px 156px 0px;
    background: linear-gradient(0deg, rgba(253, 182, 52, 0.05), rgba(253, 182, 52, 0.05)), linear-gradient(0deg, rgba(253, 171, 137, 0.05), rgba(253, 171, 137, 0.05)), #FFFFFF;
}

.more-energy {
    margin: 88px 0px 156px 0px;
}

.card {
    width: 423px;
    background: linear-gradient(359.75deg, #F9C71C 0.21%, #D3480D 99.76%);
    border-radius: 32px 0px;
    border: unset;
    margin-bottom: 22px;
}

.card-title {
    display: flex;
    align-items: center;
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 24px 0;
    min-height: 64px;
}

.card-text {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 325;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn-card {
    text-align: center;
    margin-bottom: 26px;
}

.card-button {
    background: #FFFFFF;
    border-radius: 32px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #053385;
    padding: 22px 29px;
}

.line-hr {
    margin: 2.25rem 0;
    color: #fff;
}

.normal-wapper {
    background: linear-gradient(0deg, #F6F6F6, #F6F6F6), linear-gradient(0deg, rgba(253, 171, 137, 0.25), rgba(253, 171, 137, 0.25)), #FFFFFF;
}


.content {
    margin: 50px 0;
}

.more-energy-heading {
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    color: #053385;
    margin-bottom: 1.25rem;
}


.more-energy-title-right {
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    color: #053385;
    padding: 1.75rem 1rem;
}

.small-card {
    padding: 1.5rem;
    margin: 0 1.5rem 1.5rem 1.5rem;
    background: #FFFFFF;
    border-radius: 1.5rem 0px;
}

@media only screen and (max-width: 768px) {
    .card {
        width: auto;
    }

    .card-title {
        font-size: 20px;
        line-height: 24px;
        min-height: 24px;
    }

    .card-text {
        font-size: 14px;
        line-height: 20px;
    }

    .card-button {
        font-size: 14px;
        line-height: 16px;
    }

    hr {
        margin: 20px 0;
    }

    .btn-card {
        margin-bottom: 15px;
    }
}