#policy-title > .container-fluid {
    background: linear-gradient(0deg, rgba(253, 182, 52, 0.05), rgba(253, 182, 52, 0.05)), linear-gradient(0deg, rgba(253, 171, 137, 0.05), rgba(253, 171, 137, 0.05)), #FFFFFF;
}

.policy-title-wrapper {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2.875rem;
    padding-bottom: 2.875rem;
}

.policy-title-icon {
    min-width: 3.25rem;
    max-width: 3.25rem;
    height: 3.25rem;
    background: var(--color-primary);
    padding: 0.8125rem;
    margin: 1rem 0;
    border-radius: 2rem;
    position: relative;
}

.policy-title-icon > img {
    position: absolute;
    width: 2.089375rem;
    height: 2.089375rem;
    position: absolute;
    left: 19.64%;
    right: 16.07%;
    top: 17.86%;
    bottom: 17.86%;
    padding:0;
}

.policy-title-text{
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 0;
    color: var(--color-primary);
}

.policy-content-item {
    margin-bottom: 18px;
}

.policy-content-wrapper {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}

.policy-content-item h2{
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.01em;
    color: var(--color-primary);
}

.policy-content-item h3{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    color: var(--color-primary);
}

.policy-content-item-text {
    margin-top: 0.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    display: block;
}

.policy-content-item-text p, .policy-content-item-text li{
    font-style: normal;
    font-weight: 325;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #121212;
}

.policy-content-item li::before {
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
    content: "•";
    color: #121212;
}

.policy-content-item-text a {
    text-decoration: underline;
    color:#121212;
}

.policy-content-item-text strong {
    font-weight: 700;
}

.policy-content-item ul {
    list-style-type: none;
    padding-left: 1.5rem;
}

.updated-date {
    margin-top: 0.5rem;
    text-align: right;
    font-style: italic;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: right;
    letter-spacing: 0.01em;
}

@media only screen and (max-width: 768px) {
    .policy-title-wrapper, .policy-content-wrapper {
        padding: 1rem 1.5rem;
    }

    .policy-title-text {
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 1.5rem;
        letter-spacing: 0.01em;
    }

    .policy-title-icon {
        min-width: 1.75rem;
        max-width: 1.75rem;
        height: 1.75rem;
        background: var(--color-primary);
        padding: 1px;
        margin: 0 0 0.75rem 0;
        border-radius: 2rem;
        position: relative;
    }
    .policy-title-icon > img {
        width: 1.125rem;
        height: 1.125rem;
    }

    .policy-content-item > p, .policy-content-item > li{
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .policy-content-item h2{
        font-style: normal;
        font-weight: 700;
        font-size: 1.1875rem;
        line-height: 1.25rem;
        letter-spacing: 0.01em;
        color: var(--color-primary);
    }

    .policy-content-item h3 {
        font-size: 1rem;
    }

    .updated-date {
        font-size: 0.75rem;
        font-weight: 700;
    }
}