.section {
    background: linear-gradient(80deg, #FFFFFF 0%, #FFDDB6 100%);
    max-width: 1440px;
}

.products-listing {
    padding-top: 2rem;
}

.margin-top-25 {
    margin-top: 1.25rem;
}

.product-item {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFDDB6 100%);
}


.products-listing .product-hr {
    position: relative;
    top: 7rem;
    background: url(../images/index/divided.svg);
}

.products-listing .product-item-description {
    min-height: 11rem;
}

.products-listing .end-product-list-wrapper {
    background-color: #FFDDB6;
    padding: 2.5rem 0 3.5rem 0;
}

.products-listing .end-product-list-wrapper>.read-more {
    bottom: unset;
}


@media only screen and (max-width: 768px) {
    .products-listing .section {
        background: linear-gradient(80deg, #FFFFFF 0%, #FFDDB6 66%);
    }

    .products-listing .product-item-info {
        padding-bottom: 6.5rem;
    }

    .products-listing .product-item {
        background: linear-gradient(120deg, #FFFFFF 0%, #FFDDB6 100%);
    }

    .products-listing .product-img-placeholder img {
        background: url(../images/index/product-item-sp-frame.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 100%;
    }

    .products-listing .product-title-wrapper {
        background: transparent;
    }

    .products-listing .end-product-list-wrapper  {
        display: none;
    }

    .products-listing .product-title-wrapper {
        background-size: 100% 20%;
    }

    .products-listing .product-item-description {
        min-height: unset;
    }

    .btn {
        width: 9.25rem;
    }

    .card-button {
        font-size: 0.8rem;
        padding: 1rem 1.5rem;
    }
}