.product-section {
    padding: 46px 0px 156px 0px;
    background: url('../images/product/product-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.product-heading-icon {
    margin-bottom: 16px;
    width: 52px;
    height: 52px;
}

.product-heading-title {
    font-family: Verlag;
    font-style: normal;
    font-weight: 450;
    color: #053385;
    letter-spacing: 0.01em;
}

.more-energy {
    margin: 88px 0px 156px 0px;
}

.card {
    width: 423px;
    background: linear-gradient(359.75deg, #F9C71C 0.21%, #D3480D 99.76%);
    border-radius: 32px 0px;
    border: unset;
    margin-bottom: 22px;
}

.card-title {
    display: flex;
    align-items: center;
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 24px 0;
    min-height: 64px;
}

.card-text {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 325;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn-card {
    text-align: center;
    margin-bottom: 26px;
}

.btn-buy.card-button {
    background-color: #D3480D;
    color: #fff;
}

.card-button {
    background: #FFFFFF;
    border-radius: 32px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #053385;
    padding: 22px 29px;
}

.line-hr {
    margin: 36px 0;
    color: #fff;
}

.breadcrumb {
    padding: 0.875rem 0;
    list-style: none;
    align-items: center;
}

.breadcrumb li:first-child {
    padding-left: unset;
}

.breadcrumb li {
    position: relative;
    padding-left: 2.1875rem;
}

.breadcrumb li+li:before {
    padding: 0 0.75rem;
    width: 0.875rem;
    height: 0.875rem;
    content: url(../images/more-energy/arrow-next.svg);
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    left: 0.3125rem;
}

.normal-wapper {
    background: linear-gradient(0deg, #F6F6F6, #F6F6F6), linear-gradient(0deg, rgba(253, 171, 137, 0.25), rgba(253, 171, 137, 0.25)), #FFFFFF;
}

.breadcrumb li:first-child a {
    width: 1.5rem;
    height: 1.5rem;
    content: url('../images/more-energy/Home.svg');
}


.product-content-right {
    padding: 1.5rem;
}

.product-mg {
    margin: 3.25rem 0;
}

.product-description {
    margin: 1.5rem 0;
}

.product-wapper {
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.product-wapper::before {
    position: absolute;
    content: url('../images/product/icon-before.svg');
}

.product-text {
    padding: 0.6rem 0;
}

.gradient-bg {
    background: linear-gradient(25.69deg, #F9C71C 0%, #D3480D 102.23%);
    border-radius: 2rem 0px;
}

.product-desc-bg {
    background: var(--color-primary);
    padding: 1.5rem;
    border-radius: 2.25rem 0px;
}

.add-to-cart {
    background: var(--color-orange);
    border-radius: 2.25rem;
    padding: 1.375rem;
    text-align: center;
}

.btn-buy-now {
    background: transparent;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 350;
    font-size: 1.25rem;
    line-height: 1rem;
    letter-spacing: 0.01em;
}

.circle-q {
    background: linear-gradient(25.69deg, #F9C71C 0%, #D3480D 102.23%);
    font-size: 0.875rem;
    line-height: 1.06rem;
    border-radius: 4.25rem;
    padding: 0.35rem 0.35rem 0.2rem 0.35rem;
    margin-right: 5px;
}

.question {
    margin: 1rem 0;
}

.faq-question {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    color: var(--color-primary);
    display: flex;
    align-items: flex-start;
}

.faq-answer {
    display: flex;
    align-items: flex-start;
    margin-left: 2.5rem;
}

.circle-a {
    opacity: 0.2;
    background: var(--color-primary);
    color: #ffa;
    margin-right: 0.31rem;
    padding: 0 0.5rem;
    text-align: center;
    border-radius: 6.25rem;
}

.question ul {
    margin-left: 20px;
}

.warning-section {
    background: linear-gradient(0deg, rgba(253, 182, 52, 0.05), rgba(253, 182, 52, 0.05)), linear-gradient(0deg, rgba(253, 171, 137, 0.05), rgba(253, 171, 137, 0.05)), #FFFFFF;
    border-radius: 2.25rem 0px;
    padding: 1.25rem 1.5rem 0.75rem;
    margin: 0 -1.56rem;
}

@media only screen and (max-width: 768px) {
    .card {
        width: auto;
    }

    .card-title {
        font-size: 20px;
        line-height: 24px;
        min-height: 24px;
    }

    .card-text {
        font-size: 14px;
        line-height: 20px;
    }

    .card-button {
        font-size: 14px;
        line-height: 16px;
    }

    hr {
        margin: 20px 0;
    }

    .btn-card {
        margin-bottom: 15px;
    }
}