/* section {
    background: linear-gradient(0deg, rgba(253, 182, 52, 0.3), rgba(253, 182, 52, 0.3)), linear-gradient(0deg, rgba(253, 171, 137, 0.4), rgba(253, 171, 137, 0.4)), #FFFFFF;
} */

.banner-img {
    width: 100%;
}

.product-title-wrapper {
    position:relative;
    padding:0;
    background: url(../images/index/product-list-frame.png);
    background-position: top;
    background-size: 100% 30%;
    background-repeat: no-repeat;
}

#product-list-section {
    padding-top: 2rem;
}

.product-title-icon {
    min-width: 2.75rem;
    max-width: 2.75rem;
    height: 2.75rem;
    background: var(--color-primary);
    margin: auto;
    border-radius: 2rem;
    position: relative;
}

.product-title-icon > img {
    position: absolute;
    width: 24.44px;
    left: 22.22%;
    right: 22.22%;
    top: 22.22%;
    bottom: 22.22%;
    padding:0;
}

.product-title-text{
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.01em;
    margin-top: 1.25rem;
    padding: 0;
    color: var(--color-primary);
}

.product-list {
    margin: 0;
    padding-top: 5rem;
    overflow: hidden;
}

.product-item {
    padding: 0;
    margin-top: 6.75rem;
    height:auto;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFDDB6 100%);
}

.product-img-placeholder {
    position: relative;
}

.product-hr {
    position: relative;
    width: 100%;
    height: 1rem;
    top: 7rem;
    background: url(../images/index/divided.svg);
}

.product-img-placeholder img {
    position: absolute;
    height: 11.75rem;
    width: 100%;
    left: 0;
    bottom: -4rem;
}

.product-item-info {
    padding-top: 10rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.product-item-name {
    font-family: 'verlag';
    color:#FE5000;
    font-weight: 450;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-transform: uppercase;
}

.product-item-description {
    margin-top: 0.5rem;
    font-weight: 325;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 7.5rem;
    color: var(--color-primary);
}

.product-item-button {
    margin-top: 2rem;
    column-gap: 24px;
}

.card-button {
    background: #FFFFFF;
    border-radius: 32px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #053385;
    padding: 22px 29px;
}

.btn-card {
    justify-content: space-between;
}

.btn {
    margin: 0rem;
    width: 11.25rem;
    margin-bottom: 1.625rem;
}

.btn-more {
    border: 1px solid #053385;
    color: var(--color-primary);
    background: #FFFFFF;
}

.btn-buy {
    background: #FE5000;
    color: white;
}

.owl-nav, .owl-dots {
    background-color:white;
}

.end-product-list-wrapper {
    position: relative;
    height: 3rem;
    background-color: #FFDDB6;
    padding: 2.5rem 0 3.5rem 0;
}

.end-product-list-wrapper > img {
    width: 100%;
    height: 10rem;
    position: absolute;
    left:0;
    top: -2.5rem;
    z-index: 5;
}

.see-more-link {
    padding-top: 7rem;
}

.end-product-list-wrapper > .read-more {
    position: absolute;
    left: 25%;
    right: 25%;
    z-index: 10;
    bottom: unset;
}

.read-more {
    font-weight: 350;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--color-primary);
    text-decoration: underline;
}


@media only screen and (max-width: 767px) {

    .end-product-list-wrapper  {
        display: none;
    }

    .product-title-wrapper {
        background-size: 100% 20%;
    }

    .product-item-name {
        font-family: 'verlag';
        color:#FE5000;
        font-weight: 450;
        font-size: 1.5rem;
        line-height: 1.75rem;
        text-transform: uppercase;
    }

    .end-product-list-wrapper {
        position: relative;
        height: 1rem;
        background-color: white;
    }

    .end-product-list-wrapper > img {
        height: 6rem;
    }

    .end-product-list-wrapper > .read-more {
        bottom: -2.5rem;
    }

    .btn {
        width: 9.25rem;
    }

    .card-button {
        font-size: 0.8rem;
        padding: 1rem 1.5rem;
    }
}