/*
    Created on : May 18, 2022, 9:31:32 PM
    Author     : chemi
*/

@font-face {
    font-family: Verlag;
    font-style: normal;
    font-weight: 450;
    src: url(./fonts/Verlag-Black.ttf);
}

@font-face {
    font-family: Gotham;
    font-style: normal;
    src: url(./fonts/GothamBook.ttf);
}

:root {
    --color-primary: #053385;
    --color-orange: #FE5000;
    --color-red: #DA372B;
    --color-dark: #333333;
    --color-white: #ffffff;
}

body {
    font-size: 16px;
    line-height: 16px;
    font-family: 'Gotham';
    font-weight: 400;
}

a {
    text-decoration: none;
}
a:hover{
	color: inherit;
}
ol,
ul,
dl,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    padding-left: 0;
}

input,
button {
    border: none;
    border-radius: 0;
}

input:focus,
button:focus {
    outline: 0;
    box-shadow: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 1.1875rem;
    line-height: 1.5rem;
    color: #C7CAFD;
    font-weight: 500;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 1.1875rem;
    line-height: 1.5rem;
    color: #C7CAFD;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 1.1875rem;
    line-height: 1.5rem;
    color: #C7CAFD;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 1.1875rem;
    line-height: 1.5rem;
    color: #C7CAFD;
}


.row-site {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}

.dl-flex {
    display: flex;
}

.color-main {
    color: var(--color-primary);
}

.color-white {
    color: var(--color-white);
}

.color-orange {
    color: var(--color-orange);
}

.color-red {
    color: var(--color-red);
}

.color-dark {
    color: var(--color-dark);
}

.bg-main {
    background-color: var(--color-primary);
}

.bg-white {
    background-color: var(--color-white);
}

.bg-orange {
    background-color: var(--color-orange);
}

.bg-red {
    background-color: var(--color-red);
}

.bg-dark {
    background-color: var(--color-dark);
}

.font-verlag {
    font-family: 'Verlag', sans-serif;
}

.font-size-x-small {
    font-size: 0.75rem;
    line-height: 1rem;
}

.font-size-small {
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
}

.font-size-pro {
    font-size: 1.1875rem;
    line-height: 1.75rem;
}

.font-size-medium {
    font-size: 1.5rem;
    line-height: 2rem;
}

.font-size-large {
    font-size: 1.1875rem;
    line-height: 1.75rem;
}

.font-size-x-large {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.font-size-m-large {
    font-size: 2.75rem;
    line-height: 2.75rem;
}

.font-size-xx-large {
    font-size: 3.25rem;
    line-height: 3.25rem;
}

.container {
    max-width: 1440px;
}

.menu {
    padding:0 4rem;
}

@media screen and (max-width: 992px) {
    .menu {
        padding: 0;
    }
}

.menu.navbar {
    min-height: 8rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
}

.menu.navbar .nav-item {
    display: flex;
    align-items: center;
    padding-right: 2.5rem;
}

.menu.navbar .nav-item .nav-link {
    font-size: 1.25rem;
    color: var(--color-primary);
    position: relative;
    padding: 0 0 0.4rem 0;
    line-height: 1.5rem;
    font-family: 'Verlag';
    font-weight: 500;
}

.menu.navbar .nav-item .nav-link:before {
    position: absolute;
    content: "";
    height: 0.25rem;
    background: linear-gradient(46.46deg, #FDD83E 4.5%, #FA5542 78.72%);
    width: 0;
    transition: 0.3s;
    bottom: -0.625rem;
    left: 0
}

.menu.navbar .nav-item .nav-link.current-page:before {
    width: 100%;
}

.menu.navbar .nav-item:hover .nav-link:before {
    width: 100%;
    bottom: -0.625rem;
    left: 0;
}

@media screen and (max-width: 992px) {
    .menu.navbar .nav-item {
        padding-right: 1.5rem
    }
}

@media screen and (max-width: 767px) {

    .menu.navbar {
        min-height: 5.625rem;
    }

    .menu .navbar-collapse {
        position: absolute;
        right: 0;
        top: 75%;
        max-width: 375px;
        background-color: var(--color-white);
        z-index: 99;
        width: 100%;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        overflow: hidden;
    }

    .menu.navbar .nav-item {
        background: linear-gradient(9deg, #FDD83E 1.17%, #EE8D3E 85.64%);
        padding: 1.125rem 1.375rem;
        margin-bottom: 0.25rem;
    }

    .menu.navbar .nav-item:first-child {
        padding: 1px;
    }

    .menu.navbar .search-mb {
        display: flex;
        position: inherit;
        margin: 0;
        width: 100%;
        background-color: var(--color-white);
        padding-left: 1.5625rem;
        padding-right: 1.5625rem;
    }

    .menu.navbar .search-mb .search-form-button {
        background-color: var(--color-white);
    }

    .menu.navbar .search-mb .search-input {
        padding-top: 1.125rem;
        padding-bottom: 1.125rem;
    }

    .menu.navbar .nav-item:hover .nav-link:before {
        content: none;
    }

    .banner .banner-img {
        display: none;
    }

    .banner .banner-img-mb {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .banner .banner-img-mb {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .menu .logo img {
        max-width: 138px;
    }
}

.hamburger-menu {
    padding: 0;
    border: 0;
    margin-left: 0.5rem;
}

.hamburger-menu:focus {
    outline: none;
    box-shadow: none;
}

.hamburger-menu .navbar-toggler-icon {
    display: flex;
    flex-direction: column;
    width: 1.625rem;
    align-items: flex-end;
    height: 1.3125rem;
    cursor: pointer;
}

.hamburger-menu .navbar-toggler-icon span {
    background-color: var(--color-orange);
    border-radius: 0.625rem;
    height: 0.25rem;
    margin: 0.125rem 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}

.hamburger-menu .navbar-toggler-icon span:nth-of-type(1) {
    width: 100%;

}

.hamburger-menu .navbar-toggler-icon span:nth-of-type(2) {
    width: 75%;
}

.hamburger-menu .navbar-toggler-icon span:nth-of-type(3) {
    width: 50%;

}

.hamburger-menu .navbar-toggler-icon input[type="checkbox"] {
    display: none;
}

.hamburger-menu .navbar-toggler-icon input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(0.5rem, 0px);
    background: linear-gradient(40.54deg, #FDD83E 1.17%, #EE8D3E 85.64%);
}

.hamburger-menu .navbar-toggler-icon input[type="checkbox"]:checked~span:nth-of-type(2) {

    transform-origin: top;
    transform: rotatez(-45deg) translate(0.25rem, 0.25rem);
    width: 100%;
    background: linear-gradient(40.54deg, #FDD83E 1.17%, #EE8D3E 85.64%);
}

.hamburger-menu .navbar-toggler-icon input[type="checkbox"]:checked~span:nth-of-type(3) {

    transform-origin: bottom;
    width: 0%;

}

/* Định đạng ngôn ngữ */
.lang-menu {
    position: relative;
    min-width: 3.25rem;
    min-height: 1.5rem;
    display: flex;
    align-items: center;
}

.lang-menu::before {
    position: absolute;
    content: "";
    right: 0.5rem;
    width: 0;
    height: 0;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0.3125rem solid #000000;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s;
}

.lang-menu ul {
    list-style-type: none;
    position: absolute;
    bottom: 0%;
    opacity: 0;
    z-index: -1;
}

.lang-menu.open ul {
    opacity: 1;
    top: 100%;
    transition: 0.3s all;
}

.lang-menu ul li.lang-item.lang-item-selected {
    display: block;
}

.lang-menu.open::before {
    transform: rotate(-90deg);
}


/*---------Định đạng trang home----------*/
.bg-home {
    background: linear-gradient(0deg, rgba(253, 182, 52, 0.3), rgba(253, 182, 52, 0.3)), linear-gradient(0deg, rgba(253, 171, 137, 0.4), rgba(253, 171, 137, 0.4)), #FFFFFF;
}

.banner {
    padding-bottom: 2rem;
}

.product-title-wrapper {
    position: relative;
    padding: 0;
    background: url(../images/index/product-list-frame.png);
    background-position: top;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}


.product-list {
    margin: 0;
    padding-top: 12rem;
    overflow: hidden;
}

.product-title-icon {
    min-width: 2.75rem;
    max-width: 2.75rem;
    height: 2.75rem;
    background: var(--color-primary);
    margin: auto;
    border-radius: 2rem;
    position: relative;
}

.product-title-icon>img {
    position: absolute;
    width: 1.5275rem;
    left: 22.22%;
    right: 22.22%;
    top: 22.22%;
    bottom: 22.22%;
    padding: 0;
}

.product-title-text {
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.01em;
    margin-top: 1.25rem;
    padding: 0;
    color: var(--color-primary);
}

.product-item {
    padding: 0;
    margin-top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bg-home .product-bg-white {
    background: var(--color-white);
}

.product-img-placeholder {
    position: relative;
}

.product-hr {
    position: absolute;
    width: 100%;
    height: 1rem;
    top: 5rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 25%, #E5E5E5 75%);
}

.product-img-placeholder img {
    position: absolute;
    height: 11.75rem;
    width: 100%;
    left: 0;
    bottom: -3rem;
}

.product-item-info {
    padding-top: 8.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.product-item-name {
    font-family: 'verlag';
    color: #FE5000;
    font-weight: 450;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-transform: uppercase;
}

.product-item-description {
    margin-top: 0.5rem;
    font-weight: 325;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-primary);
}

.product-item-button {
    margin-top: 2rem;
    column-gap: 1.5rem;
    flex-direction: row;
    justify-content: center;
}

.product-item-button a {
    width: 11.25rem;
    height: 4.125rem;
    padding: 0;
    margin-bottom: 1.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button {
    background: #FFFFFF;
    border-radius: 2rem;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 350;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--color-primary);
    padding: 1.375rem 1.8125rem;
}


.article-list .btn-card {
    margin-top: 5rem;
    position: relative;
    justify-content: center;
}

.article-list .btn-card::before {
    position: absolute;
    content: "";
    left: 0;
    top: -3rem;
    background: url(../images/more-energy/line.svg) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 2rem;
}

.product-item-button .btn {
    margin: 0rem;
    width: 11.25rem;
    margin-bottom: 1.625rem;
}

.product-item-button .btn-more {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background: var(--color-white);
}

.product-item-button .btn-buy {
    background: #FE5000;
    color: white;
}

.owl-nav,
.owl-dots {
    background-color: white;
}

.end-product-list-wrapper {
    position: relative;
    height: 2rem;
    background-color: white;
}

.end-product-list-wrapper>img {
    width: 100%;
    height: 10rem;
    position: absolute;
    left: 0;
    top: -3.5rem;
    z-index: 5;
}

.see-more-link {
    padding-top: 7rem;
}

.end-product-list-wrapper>.read-more {
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: -4.4rem;
    z-index: 10;
}

.read-more {
    font-weight: 350;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--color-primary);
    text-decoration: underline;
}

#article-list-section {
    padding-top: 10rem;
    padding-bottom: 4.375rem;
}

.energy-title-icon {
    min-width: 2.75rem;
    max-width: 2.75rem;
    height: 2.75rem;
    background: var(--color-primary);
    margin: auto;
    border-radius: 2rem;
    position: relative;
}

.energy-title-icon img {
    position: absolute;
    height: 2.2rem;
    width: 1.05625rem;
    left: 28%;
    right: 28%;
    top: 10%;
    bottom: 10%;
}

.article-list {
    margin-bottom: 5.5rem 0 1.5rem 0;
    padding: 0 auto;
}

.line-hr {
    width: 100%;
}

.product-title-wrapper .owl-carousel .owl-stage {
    display: flex;
    flex-wrap: wrap;
}

.product-title-wrapper .owl-carousel .owl-stage-outer {
    overflow: unset;
}

.owl-stage-outer {
    padding: 0;
}

.owl-nav {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.owl-nav button {
    position: absolute;
    z-index: 100;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
}

.owl-nav .owl-prev {
    left: 1.5rem;
}

.owl-nav .owl-next {
    right: 1.5rem;
}

.end-product-list-wrapper .read-more {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    top: 5.25rem;
    z-index: 10;
    font-weight: 350;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--color-primary);
    text-decoration: underline;
}

/*------- End Định dạng trang home --------*/

/*------- Định dạng trang term & policy -------*/
#term-policy-title>.container-fluid {
    background: linear-gradient(0deg, rgba(253, 182, 52, 0.05), rgba(253, 182, 52, 0.05)), linear-gradient(0deg, rgba(253, 171, 137, 0.05), rgba(253, 171, 137, 0.05)), #FFFFFF;
}

.term-policy-title-wrapper {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2.875rem;
    padding-bottom: 2.875rem;
}

.term-policy-title-icon {
    min-width: 3.25rem;
    max-width: 3.25rem;
    height: 3.25rem;
    background: var(--color-primary);
    padding: 0.8125rem;
    margin: 1rem 0;
    border-radius: 2rem;
    position: relative;
}

.term-policy-title-icon img {
    position: absolute;
    padding: 0;
}

.term-icon {
    width: 2.089375rem;
    left: 16.07%;
    right: 19.64%;
    top: 17.86%;
    bottom: 17.86%;
}

.policy-icon {
    width: 2.089375rem;
    height: 2.089375rem;
    left: 19.64%;
    right: 16.07%;
    top: 17.86%;
    bottom: 17.86%;
}

.term-policy-title-text {
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 0;
    color: var(--color-primary);
}

.term-policy-content-item {
    margin-bottom: 1.125rem;
}

.term-policy-content-wrapper {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}

.term-policy-content-item h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.01em;
    color: var(--color-primary);
}

.term-policy-content-item h3 {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    color: var(--color-primary);
}

.term-policy-content-item-text {
    margin-top: 0.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    display: block;
}

.term-policy-content-item-text p,
.term-policy-content-item-text li {
    font-style: normal;
    font-weight: 325;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #121212;
}

.term-policy-content-item li::before {
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
    content: "•";
    color: #121212;
}

.term-policy-content-item-text strong {
    font-weight: 700;
}

.term-policy-content-item-text a {
    text-decoration: underline;
    color: #121212;
}

.term-policy-content-item ul {
    list-style-type: none;
    padding-left: 1.5rem;
}

.updated-date {
    margin-top: 0.5rem;
    text-align: right;
    font-style: italic;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: right;
    letter-spacing: 0.01em;
}

@media only screen and (max-width: 768px) {
    .term-policy-title-wrapper,
    .term-policy-content-wrapper {
        padding: 1rem 1.5rem;
    }

    .term-policy-title-text {
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 1.5rem;
        letter-spacing: 0.01em;
    }

    .term-policy-title-icon {
        min-width: 1.75rem;
        max-width: 1.75rem;
        height: 1.75rem;
        background: var(--color-primary);
        padding: 1px;
        margin: 0 0 0.75rem 0;
        border-radius: 2rem;
        position: relative;
    }

    .policy-icon {
        width: 1.125rem;
        height: 1.125rem;
    }

    .term-icon {
        width: 1.125rem;
    }


    .term-policy-content-item h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 1.1875rem;
        line-height: 1.25rem;
        letter-spacing: 0.01em;
        color: var(--color-primary);
    }

    .term-policy-content-item h3 {
        font-size: 1rem;
    }

    .updated-date {
        font-size: 0.75rem;
        font-weight: 700;
    }
}

/*---------Định đạng trang products=----------*/
#product-list-section {
    background: #FFDDB6;
}

.text-transform-upercase {
    text-transform: uppercase;
}

.products-listing {
    padding-top: 2rem;
}

.margin-top-25 {
    margin-top: 1.25rem;
}

.product-item {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFDDB6 100%);
}


.products-listing .product-hr {
    position: relative;
    top: 7rem;
    background: url(../images/index/divided.svg);
}

.products-listing .product-item-description {
    min-height: 11rem;
}

.products-listing .end-product-list-wrapper {
    background-color: transparent;
    padding: 5.5rem 0 3.5rem 0;
}

.products-listing .end-product-list-wrapper>.read-more {
    bottom: unset;
}

.article-list .card {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .products-listing.section {
        background: linear-gradient(80deg, #FFFFFF 0%, #FFDDB6 66%);
    }

    .products-listing .product-item-info {
        padding-bottom: 6.5rem;
    }

    .products-listing .product-item {
        background: linear-gradient(120deg, #FFFFFF 0%, #FFDDB6 100%);
    }

    .products-listing .product-img-placeholder img {
        background: url(../images/index/product-item-sp-frame.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 100%;
    }

    .products-listing .product-title-wrapper {
        background: transparent;
    }

    .products-listing .end-product-list-wrapper {
        display: none;
    }

    .products-listing .product-title-wrapper {
        background-size: 100% 20%;
    }

    .products-listing .product-item-description {
        min-height: unset;
    }

    .btn {
        width: 9.25rem;
    }

    .btn-default.card-button {
        font-size: 0.8rem;
        padding: 1rem 1.5rem;
        width: 9rem;
    }
}

@media only screen and (max-width: 767px) {
    .product-title-wrapper {
        background: url(../images/index/product-item-sp-frame.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 70%;
        background-repeat: no-repeat;
    }

    .product-item-name {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .end-product-list-wrapper {
        position: relative;
        background-color: white;
    }

    .end-product-list-wrapper>img {
        height: 8.5rem;
    }

    .end-product-list-wrapper>.read-more {
        top: 3.75rem;
    }
}


.related {
    background: url('../images/backgroup-product-related-main.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding-top: 10rem;
    margin-top: 3rem;
}

.related::before {
    position: absolute;
    content: "";
    top: -3.25rem;
    background: url(../images/backgroup-product-related-top.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 8.1875rem;
}

@media screen and (max-width: 767px) {

    .related {
        background-size: unset;
        background-position: left;
    }

    .related::before {
        top: -0.85rem;
        background-size: 100%;
    }
}

.related .product-list {
    overflow: unset;
    padding-top: 14rem;
}

.related .product-title-wrapper {
    background: none;
}

.related .product-hr {
    top: 5rem;
}

.related .product-img-placeholder img {
    bottom: -2rem;
}

.related .product-item-info {
    padding-top: 8rem;
}

.related .owl-carousel .owl-stage {
    display: flex;
    flex-wrap: wrap;
}

.related .owl-carousel .owl-stage-outer {
    overflow: unset;
}

.related .product-item-button {
    margin-top: 2.75rem;
    padding: 0 1.5rem;
}

.related .product-item-button a {
    width: 11.25rem;
    height: 4.125rem;
    padding: 0;
    margin-bottom: 1.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.related .product-item {
    height: 100%;
    background: linear-gradient(#ffffff, #ffffff, rgba(0, 0, 0, 0));
    margin-top: 0;
    padding-bottom: 2.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:992px) {
    .related .product-list {
        overflow: hidden;
    }
}

/* Định dạng bài post */
.post-content {
    padding-top: 3.375rem;
}

.content-left {
    max-width: 644px;
    margin: 0 auto;
}

.line-height-24 {
    line-height: 1.5rem;
}

.text-list {
    padding-left: 1.5rem;
    list-style-type: none;
}

.text-list li {
    position: relative;
}

.text-list li::before {
    position: absolute;
    top: 0;
    left: -1rem;
    content: "•";
    color: #121212;
}

.breadcrumb {
    padding: 0.875rem 0;
    list-style: none;
    align-items: center;
}

.breadcrumb li+li:before {
    padding: 0 0.75rem;
    width: 0.875rem;
    height: 0.875rem;
    content: url(../images/more-energy/arrow-next.svg);
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    left: 0.3125rem;
}


.breadcrumb li:first-child a {
    width: 1.5rem;
    height: 1.5rem;
    content: url('../images/more-energy/Home.svg');
}

.content-right {
    background: linear-gradient(0deg, rgba(253, 182, 52, 0.25), rgba(253, 182, 52, 0.25)),
        linear-gradient(0deg, rgba(253, 171, 137, 0.25), rgba(253, 171, 137, 0.25)), #FFFFFF;
    border-radius: 1.875rem 0px;
    padding: 1.5rem;
}

@media screen and (max-width: 991px) {
    .content-right {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    .content-left {
        width: 100%;
    }
}

.post-card-item {
    background: #FFFFFF;
    border-radius: 1.5rem 0px;
}

.post-card-item-img {
    width: 100%;
}

.card-readmore {
    text-align: right;
}

.card-readmore a {
    color: #9CA2FC;
    position: relative;
    padding-right: 0.9375rem;
}

.card-readmore a::after {
    position: absolute;
    content: url(../images/icon/pharmaton-arrow-right.svg);
    color: #9CA2FC;
    right: 0;
    top: 0.125rem;
    bottom: 0;
    margin: auto;
}

/* Định đạng footer */


footer .footer-infomation {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

footer .legal-links li {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    padding-right: 1.4375rem;
    position: relative;
}

footer .legal-links li::after {
    position: absolute;
    content: "";
    width: 0.25rem;
    height: 0.25rem;
    background-color: var(--color-white);
    border-radius: 50%;
    right: 0.4375rem;
    top: 0;
    bottom: 0;
    margin: auto;
}
footer .legal-links li a:hover{
    color: var(--color-white);
}


/* Định đạng tìm kiếm */
.search {
    position: relative;
    margin-left: 1rem;
}

.search .search-form {
    position: absolute;
    width: 400px;
    right: 0;
    z-index: -1;
    border-radius: 4rem;
    border: 1px solid var(--color-primary);
    top: 3rem;
    opacity: 0;
    transition: 0.2s all ease-in-out;
}

.search .search-form.open {
    opacity: 1;
    z-index: 9;
    transition: 0.2s all ease-in-out;
}

.search .search-form .form-control {
    border: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
}

.search .search-form .form-control:focus {
    box-shadow: none;
}

.search .search-form .form-control::placeholder {
    font-size: 1.1875rem;
    line-height: 1.5rem;
    color: #C7CAFD;
    font-weight: 500;
}

.search .search-form .search-form-button {
    border: 0;
    border: 0;
    min-width: 5rem;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

.search .search-form .search-icon-white {
    max-width: 2.5rem;
}

.search .search-open {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    border: 2px solid var(--color-primary);
    border-radius: 3.125rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
}

.search .search-open::before {
    position: absolute;
    content: "";
    background-image: url(../images/icon/pharmaton-search-icon-blue.svg);
    background-repeat: no-repeat;
    width: 1.25rem;
    height: 1.25rem;
    transition: 0.3s;
}

.search .search-open::after {
    position: absolute;
    content: "";
    background-image: url(../images/icon/pharmaton-search-icon-close.svg);
    background-size: 1.25rem 1.25rem;
    background-repeat: no-repeat;
    width: 1.25rem;
    height: 1.25rem;
    transition: 0.3s;
    transform: rotateY(90deg);
}

.search .search-close.search-open::before {
    transform: rotateY(90deg);
    transition: 0.3s;
}

.search .search-open.search-close::after {
    transform: rotateY(0deg);
}

@media screen and (max-width: 767px) {
    .search {
        display: none;
    }
}

footer .legal-links li:last-child::after {
    content: none;
}

footer .footer-quick-links-mb {
    border-bottom: 1px solid #f1f1f1;
}

footer .footer-quick-links-mb .legal-links li a {
    text-decoration: underline;
    font-weight: 600;
}

footer .footer-quick-links-mb .legal-links li::after {
    background-color: var(--color-primary);
}

@media screen and (min-width: 768px) {
    footer .footer-quick-links-mb {
        display: none;
    }

    .menu.navbar .search-mb {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    footer .footer-quick-links .legal-links {
        display: none;
    }

    footer .social-links {
        display: inline-block;
        text-align: center;
    }

    footer .social-links p {
        margin-top: 1rem;
    }

    footer .footer-quick-links-mb .legal-links li a {
        font-size: 0.625rem;
        line-height: 1.75rem;
    }

    footer .footer-quick-links-mb .legal-links {
        justify-content: center;
    }
}

footer .social-links a {
    padding-right: 0.75rem;
}


.btn-back-to-top {
    position: fixed;
    bottom: 0.9375rem;
    right: 0.9375rem;
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDAB89;
    z-index: 99;
}


/*essential*/

.product-essential-wapper {
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    padding: .6rem 0;
}

.product-essential-wapper::before {
    position: absolute;
    content: url('../images/product/icon-before.svg');
    z-index: -1;
}

.product-essential-wapper,
.bg_blue_ingredients_list>* {
    position: relative;
    z-index: 2;
}

.warning-section h3::before {
    z-index: -1;
}

.product-description.bg_blue_ingredients_list {
    margin: 0.1rem 0;
}

.bg_blue_ingredients_list {
    background: var(--color-primary);
    padding: 1.5rem;
    border-radius: 2.25rem 0;
    color: #FFF;
}

.bg_blue_ingredients_list h2 {
    color: #FFF;
    margin-bottom: 2rem;
}

/**/
.ingredients_list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ingredients_list li {
    font-size: 1.1875rem;
    margin-bottom: 1rem;
    position: relative;
}

.ingredients_list li:before {
    float: left;
    width: 100%;
    position: absolute;
    content: '';
    border-bottom: dotted #FFF .1rem;
    bottom: 0;
    z-index: 1;
}

.ingredients_list li span:first-child {
    padding-right: 0.33em;
    background: var(--color-primary);
    position: relative;
    z-index: 2;
    padding-bottom: 0.2rem;
}

.ingredients_list li span+span {
    float: right;
    padding-left: 0.33em;
    background: var(--color-primary);
    z-index: 2;
    position: relative;
}

.hide_dot {
    list-style: none;
    margin-left: -1.5rem;
}

/**/
#show_other_product_mobile {
    display: none;
}

.sub_bg_other_product {
    width: 100%;
    background: url(../images/pharmaton-essential/bg_sub_other_pro.svg) no-repeat center center, url(../images/pharmaton-essential/bg_sub1_other_pro.png) repeat center bottom;
    background-size: 100% auto;
    height: auto;
    padding-top: 12rem;
}

.other_product h1 {
    font-family: 'Verlag';
    font-size: 3.25rem;
    color: var(--color-primary);
    text-align: center;
    margin: 0 0 2rem;
}

.product-detail {
    margin: 1.5rem 0;
}

.product-detail img {
    padding-bottom: 1.75rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 11.75rem;
}

.product-detail-wrapper {
    font-size: 1.5rem;
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.carousel-inner.font-carousel-inner {
    width: 21.875rem;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .ingredients_list li {
        font-size: 0.8rem;
    }

    .ingredients_list li span:first-child {
        padding-bottom: 0.2rem;
    }
}

@media screen and (max-width: 576px) {
    #show_other_product_desktop {
        display: none;
    }

    #show_other_product_mobile {
        display: block;
    }
}

/*why-pharmaton-page*/
.contact-img-question {
    position: relative;
    display: inline-block;
    background: #053385;
    border-radius: 2rem;
    width: 2.75rem;
    height: 2.75rem;
}

.contact-img-question img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.feature-title-quest {
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: var(--color-primary);
    padding: 1.25rem;
}

.feature-text {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 325;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-primary);
}

.btn-learn-more {
    text-align: center;
    margin-top: 3rem;
}

.button {
    margin: auto;
    display: block;
    padding: 1rem 1.25rem;
    border: 1px solid #053385;
    border-radius: 2rem;
    width: 11.25rem;
    font-size: 0.6875rem;
    line-height: 1.75rem;
}

/* ---- search result ----- */
#search-title>.container-fluid {
    background: linear-gradient(0deg, rgba(253, 182, 52, 0.05), rgba(253, 182, 52, 0.05)), linear-gradient(0deg, rgba(253, 171, 137, 0.05), rgba(253, 171, 137, 0.05)), #FFFFFF;
}

.search-title-wrapper {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2.875rem;
    padding-bottom: 2.875rem;
}

.search-title-icon {
    min-width: 3.25rem;
    max-width: 3.25rem;
    height: 3.25rem;
    background: var(--color-primary);
    padding: 0.8125rem;
    margin: 1rem 0;
    border-radius: 2rem;
    position: relative;
}

.search-title-icon>img {
    position: absolute;
    width: 2.089375rem;
    height: 2.089375rem;
    left: 16.07%;
    right: 19.64%;
    top: 17.86%;
    bottom: 17.86%;
    padding: 0;
}

.search-title-text {
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 0;
    color: var(--color-primary);
}

.search-content-item {
    margin-bottom: 1.125rem;
}

.search-content-wrapper {
    padding: 0 30%;
    margin-top: 3.875rem;
}

.search-result-header {
    line-height: 1.5rem;
    font-size: 1.6875rem;
    font-weight: 325;
    color: var(--color-dark);
}

#result-count,
#result-key {
    font-weight: 700;
}

.search-result-filter {
    margin-top: 1rem;
}

.search-result-filter button {
    background-color: #F1F1F1;
    color: #034EA1;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin-right: 1rem;
}

.search-result-filter>.active,
.search-result-filter>button:hover {
    background-color: var(--color-primary);
    color: white;
}

.result-list-wrapper {
    padding: 1.5rem 20% 2.75rem 30%;
}

.result-list-wrapper .card-article,
.result-list-wrapper .card-product {
    border: none;
    margin-top: 1.25rem;
}

.result-list-wrapper .card {
    align-items: center;
    position: relative;
    border-radius: 1.5rem 0;
    background-color: #FFF8EF;
    height: 100%;
    padding: 1.5rem;
    padding-bottom: 3rem;
}

.result-list-wrapper .card-body {
    margin-top: 0.5rem;
    padding: 0;
    line-height: 1.25rem;
}

.result-list-wrapper .card-text {
    font-weight: 700;
    color: var(--color-primary);
}

.result-list-wrapper .card-img {
    max-width: 18rem;
    width: 100%;
    max-height: 19.375rem;
    position: relative;
}

.result-list-wrapper .product-frame {
    width: 100%;
    height: auto;
}

.result-list-wrapper .article-img {
    width: 100%;
    height: auto;
}

.result-list-wrapper .product-img {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 11.5%;
    bottom: 11.5%;
}

.result-list-wrapper .card-link {
    position: absolute;
    color: #9CA2FC;
    font-size: 0.75rem;
    bottom: 1.5rem;
    right: 1.5rem;
}

@media only screen and (max-width: 992px) {
    .result-list-wrapper .card-img {
        max-width: 26.3rem;
        max-height: 17.4rem;
    }
}

@media only screen and (max-width: 800px) {

    .search-title-wrapper,
    .search-content-wrapper,
    .result-list-wrapper {
        padding: 1rem 1.5rem;
    }

    .search-title-text {
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 1.5rem;
        letter-spacing: 0.01em;
    }

    .search-title-icon {
        min-width: 1.75rem;
        max-width: 1.75rem;
        height: 1.75rem;
        background: var(--color-primary);
        padding: 1px;
        margin: 0 0 0.75rem 0;
        border-radius: 2rem;
        position: relative;
    }

    .search-title-icon img {
        width: 1.125rem;
        height: 1.125rem;
    }

    .result-list-wrapper .card-img {
        max-width: 37rem;
        max-height: 25rem;
    }

}

/* Định dạng phần post */

.bg-pur {
    background: #707BD8;
    padding: 1rem 1.25rem;
    color: #fff;
}

.mb-bt {
    margin-bottom: unset;
}

.content-color {
    color: #053385;
}

@media screen and (max-width: 991px) {
    .content-right {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    .content-left {
        width: 100%;
    }
}

.more-energy-section {
    padding: 2.875rem 0 9.75rem 0;
    background: linear-gradient(0deg, rgba(253, 182, 52, 0.05), rgba(253, 182, 52, 0.05)), linear-gradient(0deg, rgba(253, 171, 137, 0.05), rgba(253, 171, 137, 0.05)), #FFFFFF;
}

.more-energy {
    margin-top: 5.5rem;
}

.card {
    width: 423px;
    background: linear-gradient(359.75deg, #F9C71C 0.21%, #D3480D 99.76%);
    border-radius: 2rem 0;
    border: unset;
    margin-bottom: 1.375rem;
}

.card-title {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 450;
    margin: 1.5rem 0;
    min-height: 4rem;
}

.card-text {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 325;
}

.btn-card {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.625rem;
}

.line-hr {
    margin: 2.25rem 0;
    color: #fff;
}

.normal-wapper {
    background: linear-gradient(0deg, #F6F6F6, #F6F6F6), linear-gradient(0deg, rgba(253, 171, 137, 0.25), rgba(253, 171, 137, 0.25)), #FFFFFF;
}


.content {
    margin: 3.125rem 0;
}

.more-energy-heading {
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    color: #053385;
    margin-bottom: 1.25rem;
}


.more-energy-title-right {
    font-family: 'Verlag';
    font-style: normal;
    font-weight: 450;
    color: #053385;
    padding: 1.75rem 1rem;
}

.small-card {
    padding: 1.5rem;
    margin: 0 1.5rem 1.5rem 1.5rem;
    background: #FFFFFF;
    border-radius: 1.5rem 0;
}

@media only screen and (max-width: 768px) {
    .card {
        width: auto;
    }

    .card-title {
        font-size: 1.25rem;
        line-height: 1.5rem;
        min-height: 1.5rem;
    }

    .card-text {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .card-button {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    hr {
        margin: 1.25rem 0;
    }

    .btn-default.btn-card {
        margin-bottom: 0.8rem;
    }
}



/* Định dạng trang error */
/*error*/
.error-tittle-wrapper {
    background: url(../images/error/bg-error.svg) center no-repeat;
    background-size: cover;
    height: 41.375rem;
}

.row.bg-content-text {
    padding-top: 1.3125rem;
}

.img-oobs {
    margin-left: auto;
    margin-right: auto;
}

.img-oobs img {
    width: 100%;
    height: auto;
}

.text-404 {
    font-family: 'Verlag';
    font-size: 2.5625rem;
    padding-top: 1.25rem;
    text-align: center;
    color: var(--color-primary);
}

.text-page {
    padding: 0.6875rem;
    font-family: 'Gotham';
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.add-to-cart-error{
    border-radius: 2.25rem;
    padding: 1.375rem;
    text-align: center;
}

.btn-back-home {
    width: 14.125rem;
    height: 3.75rem;
    padding: 0rem 1rem;
    border-radius: 2rem;
}

@media screen and (max-width:768px) {
    .text-404 {
        font-size: 1.5rem;
    }
}


/* Định dạng trang contact */

.contact-title-wrapper {
    padding-bottom: 8rem;
}

.row.background-contact {
    height: 13.375rem;
    padding: 1rem 0rem;
}

.row.color {
    background: linear-gradient(0deg, rgba(253, 182, 52, 0.05), rgba(253, 182, 52, 0.05)), linear-gradient(0deg, rgba(253, 171, 137, 0.05), rgba(253, 171, 137, 0.05)), #FFFFFF;
}

.feature-title {
    font-family: 'Verlag';
    font-size: 3.25rem;
    line-height: 3.25rem;
    color: var(--color-primary);
}

.contact-img-phone {
    position: relative;
    display: inline-block;
    background: var(--color-primary);
    border-radius: 2rem;
    width: 3.25rem;
    height: 3.25rem;
}

.contact-img-phone img {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 16.67%;
    bottom: 16.55%;
}

.contact-content {
    color: var(--color-primary);
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 350;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    padding-top: 1.25rem;
}

.contact-row-height-content {
    display: inherit;
}

.contact-border-left-bottom-organge {
    background: #DA372B;
    border: 0.0625rem solid #DA372B;
	width: 0.375rem;
}
.contact-border-left-top-organge {
    background: #DA372B;
    border: 0.0625rem solid #000;
    width: 0.375rem;
}
.contact-content p {
    text-align: left;
    padding: 0.625rem 0 0.625rem 0.625rem;
    margin-bottom: 0;
}

.contact-img-content {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.625rem 0.75rem 0.625rem 0.625rem;
}

.link {
    text-decoration-line: underline;
    color: var(--color-primary);
}
.contact-mail{
	color: var(--color-dark);
	text-shadow: 0rem 0.25rem 0.25rem rgb(0 0 0 / 25%);
}
.contact-text{
	color: var(--color-primary);
}
a:hover {
    color: #00F;
}

/* Định đạng trang chi tiết sản phẩm */

.product-content-right {
    padding: 1.5rem;
}

.product-mg {
    margin: 3.25rem 0;
}

.product-description {
    margin: 1.5rem 0;
}

.product-text {
    padding: 0.6rem 0;
}

/**/
.product-wapper {
    font-style: normal;
    font-weight: 450;
    letter-spacing: 0.01em;
    text-transform: uppercase;
	padding:.6rem 0;
}

.product-wapper::before {
    position: absolute;
    content: url('../images/product/icon-before.svg');
	z-index: -1;
}
.product-wapper, .bg_blue_ingredients_list > * {
    position:relative;
    z-index: 2;
}

.warning-section h3::before{
	z-index: -1;
}

.bg_ingredients_list {
    background: linear-gradient(25.69deg, #F9C71C 0%, #D3480D 102.23%);
    border-radius: 2rem 0;
    margin: 0 -1.56rem;
    padding: .2rem 0;
}

.bg_blue_ingredients_list h2 {
    color: #FFF;
    margin-bottom: 2rem;
}

.btn-buy-now {
    background: transparent;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 350;
    font-size: 1.25rem;
    line-height: 1rem;
    letter-spacing: 0.01em;
}
.circle-q {
    background: linear-gradient(25.69deg, #F9C71C 0%, #D3480D 102.23%);
    font-size: 0.875rem;
    line-height: 1.06rem;
    border-radius: 4.25rem;
    padding: 0.35rem 0.35rem 0.2rem 0.35rem;
    margin-right: 0.3125rem;
}

.question {
    margin: 1rem 0;
}

.faq-question {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    color: var(--color-primary);
    display: flex;
    align-items: flex-start;
}

.faq-answer {
    display: flex;
    align-items: flex-start;
    margin-left: 2.5rem;
}

.circle-a {
    opacity: 0.2;
    background: var(--color-primary);
    color: #ffa;
    margin-right: 0.31rem;
    padding: 0 0.5rem;
    text-align: center;
    border-radius: 6.25rem;
}

.question ul {
    margin-left: 1.25rem;
}

.warning-section {
    background: linear-gradient(0deg, rgba(253, 182, 52, 0.05), rgba(253, 182, 52, 0.05)), linear-gradient(0deg, rgba(253, 171, 137, 0.05), rgba(253, 171, 137, 0.05)), #FFFFFF;
    border-radius: 2.25rem 0;
    padding: 1.25rem 1.5rem 0.75rem;
    margin: 0 -1.56rem;
}

.ingredients_list li span + span {
    float: right;
    padding-left: 0.33em;
    background: var(--color-primary);
    z-index: 2;
    position: relative;
}

.other_product {
    width: 100%;
    background: #fedcb6 url(../images/pharmaton-essential/bg_other_pro_.svg) no-repeat center top;
    background-size: 100% auto;
    height: auto;
}

.carousel-inner.font-carousel-inner {
	width: 21.875rem;
	margin: 0 auto;
}

.product-section {
    padding: 2.875 0 9.75rem 0;
    background: url('../images/product/product-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.product-heading-icon {
    margin-bottom: 1rem;
    width: 3.25rem;
    height: 3.25rem;
}

.product-heading-title {
    font-family: Verlag;
    font-style: normal;
    font-weight: 450;
    color: #053385;
    letter-spacing: 0.01em;
}

.btn-buy.card-button {
    background-color: #D3480D;
    color: #fff;
}

.breadcrumb li:first-child {
    padding-left: unset;
}

.breadcrumb li {
    position: relative;
    padding-left: 2.1875rem;
}

.add-to-cart {
    background: var(--color-orange);
    border-radius: 2.25rem;
    padding: 1.375rem;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .card {
        width: auto;
    }
}

/* Định dạng where to buy */
.wtb-icon {
    margin-bottom: 1rem;
    width: 3.25rem;
    height: 3.25rem;
}

.wtb-title {
    font-family: Verlag;
    font-style: normal;
    font-weight: 450;
    color: #053385;
    letter-spacing: 0.01em;
}

.wtb-description {
    margin-top: 2rem;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 325;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    color: #053385;
}
.bg-img{
	background: #FFFFFF center;
	border-radius: 1.5rem 0rem;
	padding:1rem;
	width: 13rem;
	height: 13rem;
	position:relative;
}

.bg-img.bg-lazada{
	float: right;
	margin-top:4rem;
}

.bg-img.bg-shopee{
	float: left;
	margin-top:4rem;
}

.bg-img img{
	width: 9.5rem;
	height: 9.5rem;
	vertical-align:middle;
	margin: auto;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 992px) {
	.mx-auto .row .col-lg-6{
		width: auto;
	}
	.mx-auto .row{
		display: inline-flex;
	}
}
@media only screen and (max-width: 768px) {
    .wtb-icon {
        margin-bottom: 0.75rem;
        width: 1.75rem;
        height: 1.75rem;
    }

    .wtb-title {
        font-size: 1.75rem;
        line-height: 1.5rem;
    }

    .wtb-description {
        margin-top: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.75rem;
    }

   .bg-img{
	   width:9.75rem;
	   height:9.75rem;
   }
   .bg-img img{
	   width:7.125rem;
	   height:7.125rem;
   }
}

/* Định dạng Why Pharmaton */

.why-pharmaton{
    max-width: 866px;
    margin: 0 auto;
	display:flex;
	flex-direction: column;
	padding: 2.5rem 3.125rem 3.75rem;
	margin-top: -9.375rem;
	position: relative;
	background: url(../images/why-pharmaton-page/bg.png), #FFFFFF;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
	border-radius: 2.5rem 0rem;
}

.contact-img-question {
	position:relative;
	display: inline-block;
	background: #053385;
	border-radius: 2rem;
	width: 2.75rem;
	height: 2.75rem;
}
.contact-img-question img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.btn-learn-more button {
	margin:auto;
	display:block;
	justify-content: center;
	padding: 1rem 1.25rem;
	border: 1px solid #053385;
	border-radius: 2rem;
	width: 11.25rem;
	font-weight: 400;
	font-size: 0.6875rem;
	line-height: 1.75rem;
}

.feature-text {
	line-height: 1.5rem;
}

.btn-learn-more {
	text-align:center;
	margin-top: 3rem;
}

@media only screen and (max-width: 768px) {
	.btn-learn-more {
		display: none;
	}
}