@charset "utf-8";
/* CSS Document */
.image_banner{
	width:100%;
	max-width: 100%;
	padding:0;
}
.image_banner img{
	width:100%;
	height:auto;
	position:relative;
}
.bg_why_pharmaton{
	background:#ffdcb5;
}
.box_why_pharmaton{
	display:flex;
	flex-direction: column;
	padding: 2.5rem 3.125rem 3.75rem;
	margin-top: -9.375rem;
	position: relative;
	background: url(../images/why-pharmatin-page/bg.svg), #FFFFFF;
	box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
	border-radius: 2.5rem 0rem;
	
}
.contact-img-question{
	position:relative;
	display: inline-block;
	background: #053385;
	border-radius: 32px;
	width: 52px;
	height: 52px;
}
.contact-img-question img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.feature-title-quest{	
	font-family: 'Verlag';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	margin-left: 80px;
	color: var(--color-primary);
}
.feature-text{	
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 325;
	font-size: 16px;
	line-height: 24px;
	color: var(--color-primary);
	padding-top: 30px;
	width: 100%;
}
.wrapper{
	text-align:center;
}
.button{
	margin:auto;
	display:block;
	justify-content: center;
	padding: 20px 16px;	
	background: #FFFFFF;
	border: 1px solid #053385;
	border-radius: 32px;
	width:180px;
}